html{
    height: 99%;
    width: 99%;
}

body{
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0px 0px;
}

#main{
   border: 4px solid blueviolet;
   border-radius: 55px;
   padding: 20px;
   height: 300px;
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: center;

}

#box-anim{
    background-color: red;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.btn{
    display: flex;
}

button{
    margin: 5px;
    font-weight: bold;
    font-size: larger;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#start{
    background-color: green;
}

#stop{
    background-color: red;
}

.start-animation{
    animation: move 3s infinite;
}


